<section>
    <div class="center-center">
        <div class="nav">
            <div class="row-around full">
                <a href="/"><i class='bx bxs-home nav-icon' ></i></a>
                <a href="/add"><i class='bx bxs-plus-circle nav-icon'></i></a>
                <a href="/profile"><i class='bx bxs-user nav-icon' ></i></a>
                <a href="/logout"><i class='bx bx-log-out nav-icon' ></i></a>
            </div>
        </div>

    </div>
</section>