<%- include('partials/head.ejs') %>
<title>Dashboard - Nostra Cuccina</title>
</head>
<body>

    <section class="mt-3">
        <div class="container center-center">
            <div class="form-card">

                <p class="title mb-2">Add your coffee.</p>

                <form action="/add" method="POST">
                    <div class="input">
                        <input class="coffee" name="coffee" placeholder="Coffee" required="" title="Coffee" type="text" minlength="3" maxlength="30" autocomplete="off">
                    </div>
                    <p class="name-error err pb-0"></p>
                    
                    <div class="input mt-0">
                        <input class="price" name="price" placeholder="Price" required="" title="Price" type="text" maxlength="3" pattern="^([0-9][0-9]*)$" autocomplete="off">
                    </div>
                    <p class="price-error err pb-0"></p>

                    <select class="category mt-0" name="category" id="category">
                        <option value="hot">Hot</option>
                        <option value="cold">Cold</option>
                    </select>

                    <div class="mt-2 row-bottom">
                        <input class="save-btn" type="submit" value="Add to menu">
                    </div>
                    <p class="type-error err pb-0"></p>
                </form>
            </div>
        </div>
    </section>

    <%- include('partials/nav.ejs') %>

    <script>

    const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)

        if (urlParams.get('price_error')) {
            document.querySelector('.price-error').innerHTML = urlParams.get('price_error').replace(/-/g, ' ')
        }
        if (urlParams.get('type_error')) {
            document.querySelector('.type-error').innerHTML = urlParams.get('type_error').replace(/-/g, ' ')
        }

    </script>
</body>
</html>