<%- include('partials/head.ejs') %>
<title>404 | Page Not Found - Kofie</title>
</head>
<body>

    <section class="mt-4">
        <div class="container text-center">
            <p class="error-title">
                OOOPS...
            </p>
            <p class="title">
                Looks like you're drunk.
            </p>
        </div>
    </section>

</body>
</html>