<%- include('partials/head.ejs') %>
<title>Login - Kofie</title>
</head>
<body>

    <section class="mt-2">
        <div class="container center-center">
            <div class="form-card">
                <p class="form-title pb-0">
                    Log in.
                </p>
                <p class="form-subtitle">
                    Welcome back.<br>
                    You've been missed!
                </p>

                <form action="/login" method="post" class="mt-3">
                    <div class="input pb-0">
                        <input class="username" name="username" placeholder="username" required="" title="username" type="text" autocomplete="off">
                    </div>

                    <div class="input mt-0">
                        <input class="password" name="password" placeholder="password" required="" title="password" type="password">
                    </div>
                    <p class="error err pt-0"></p>

                    <div class="mt-6">
                        <input class="button" type="submit" value="Log in">
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        const queryString = window.location.search
        const urlParams = new URLSearchParams(queryString)

        if (urlParams.get('error')) {
            document.querySelector('.error').innerHTML = urlParams.get('error').replace(/-/g, ' ')
        }
    </script>
</body>
</html>